In [1]:
from dbfread import DBF
import pandas as pd


dbf = DBF(r'C:\Users\Gustavo Losch\Documents\Repositórios\Script-CIAF\ciaf-files\ORDEM-SERV.DBF')
dataResult = pd.DataFrame(iter(dbf))

display(dataResult)

,CODCLI,NOMECLIENT,NR_ORDEM,DATA_ORDEM,DATA_PREVI,PROBLEMAS,SERV_EXE,PECAS,VL_PECAS,VL_MAO,...,PAGAMENTO,FRETE,CAMPO1,CAMPO2,CAMPO3,CAMPO4,CAMPO5,MARCA,MODELO,CONDICAO
0,1,DESATINO LOJA,1.0,2009-07-18,2009-07-25,"Confeccionar 01 anel cfe. modelo do Jair, em m...","Cfe. descrito acima.PFPP: 5,20g \r\nHT/=248 (4...",None,0.0,86.08,...,,,,,,,,,,None
1,1,DESATINO LOJA,2.0,2009-07-18,2009-07-25,"Confeccionar 01 anel cfe. modelo Bulgari, em m...","Devolvido para cliente, sem fazer a confecção;",None,0.0,NaN,...,,,,,,,,,,None
2,1,DESATINO LOJA,3.0,2009-07-18,2009-07-30,"01 par de brinco argola em V, em metal branco,...","Devolvido em 16/12/2011, cliente desistiu de f...",None,0.0,NaN,...,,,,,,,,,,None
3,1,DESATINO LOJA,4.0,2009-07-18,2009-08-15,"Fazer 01 anel solitário em metal branco, cfe. ...","Devolvido para cliente, sem fazer a confecção;",None,0.0,NaN,...,,,,,,,,,,None
4,2,ROMELLINE,5.0,2009-07-18,2009-07-28,Confeccionar anel cfe. desenho em metal amarel...,"Cfe. descrito acima. PFPP: 11,60g.\r\nDCR:35m;...",None,444.0,NaN,...,,,,,,,,,,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7241,147,BERGERSON JOALHERIA PORTO ALEGRE,7318.0,2024-01-26,2024-02-28,CS Meia aliança em metal branco para rodinar. ...,None,None,NaN,NaN,...,,,,,,,,BRANCO,,None
7242,147,BERGERSON JOALHERIA PORTO ALEGRE,7319.0,2024-01-26,2024-02-28,CS Aliança em metal amarelo com brilhantes par...,None,None,NaN,NaN,...,,,,,,,,AMARELO,,None
7243,147,BERGERSON JOALHERIA PORTO ALEGRE,7320.0,2024-01-26,2024-02-28,CS Gargantilha em metal branco com pingente pa...,None,None,NaN,NaN,...,,,,,,,,BRANCO,,None
7244,147,BERGERSON JOALHERIA PORTO ALEGRE,7321.0,2024-01-26,2024-02-28,CS Aliança em metal branco para rodinar. Peso:...,None,None,NaN,NaN,...,,,,,,,,BRANCO,,None
7245,214,FATIMA SCHEID,7322.0,2024-01-26,2024-02-28,CS Aliança em metal amarelo para polir. Peso: ...,None,None,0.0,NaN,...,,,,,,,,AMARELO,,None

In [2]:

tabela = dataResult[['NR_ORDEM','NRSERIE', 'DATAFECHA', 'VL_TOTAL', 'CODCLI', 'NOMECLIENT']]
df = tabela[tabela['CODCLI'].str.contains('147')]
#filtro_data = filtro_cliente[(filtro_cliente['DATAFECHA'] >= '2024-01-01') & (filtro_cliente['DATAFECHA'] <= '2024-01-30')]

display(df)

,NR_ORDEM,NRSERIE,DATAFECHA,VL_TOTAL,CODCLI,NOMECLIENT
648,659.0,580,2020-04-13,40.0,147,BERGERSON JOALHERIA
684,695.0,890,2019-01-04,50.0,147,BERGERSON JOALHERIA
695,706.0,891,2019-01-12,24.0,147,BERGERSON JOALHERIA
696,707.0,887,2019-01-12,30.0,147,BERGERSON JOALHERIA
697,708.0,898,2019-01-12,26.0,147,BERGERSON JOALHERIA
...,...,...,...,...,...,...
7240,7317.0,3380,None,NaN,147,BERGERSON JOALHERIA PORTO ALEGRE
7241,7318.0,3379,None,NaN,147,BERGERSON JOALHERIA PORTO ALEGRE
7242,7319.0,3382,None,NaN,147,BERGERSON JOALHERIA PORTO ALEGRE
7243,7320.0,3377,None,NaN,147,BERGERSON JOALHERIA PORTO ALEGRE
7244,7321.0,3374,None,NaN,147,BERGERSON JOALHERIA PORTO ALEGRE

In [3]:
df['DATAFECHA'] = pd.to_datetime(df['DATAFECHA'], errors='coerce')

datai = input()
dataf = input()

data_inicial = pd.to_datetime(datai)
data_final = pd.to_datetime(dataf)

df_filtrado = df[(df['DATAFECHA'] >= data_inicial) & (df['DATAFECHA'] <= data_final)]

display(df_filtrado)

C:\Users\Gustavo Losch\AppData\Local\Temp\ipykernel_21044\3107784475.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['DATAFECHA'] = pd.to_datetime(df['DATAFECHA'], errors='coerce')

,NR_ORDEM,NRSERIE,DATAFECHA,VL_TOTAL,CODCLI,NOMECLIENT
7088,7163.0,003338,2024-01-05,180.0,147,BERGERSON JOALHERIA PORTO ALEGRE
7089,7164.0,003334,2024-01-06,250.0,147,BERGERSON JOALHERIA PORTO ALEGRE
7142,7217.0,003354,2024-01-06,100.0,147,BERGERSON JOALHERIA PORTO ALEGRE
7143,7218.0,003349,2024-01-06,180.0,147,BERGERSON JOALHERIA PORTO ALEGRE
7156,7232.0,3367,2024-01-10,60.0,147,BERGERSON JOALHERIA PORTO ALEGRE
7157,7233.0,3363,2024-01-10,80.0,147,BERGERSON JOALHERIA PORTO ALEGRE
7158,7234.0,3362,2024-01-10,150.0,147,BERGERSON JOALHERIA PORTO ALEGRE
7159,7235.0,3355,2024-01-10,60.0,147,BERGERSON JOALHERIA PORTO ALEGRE
7160,7236.0,3357,2024-01-10,60.0,147,BERGERSON JOALHERIA PORTO ALEGRE
7173,7250.0,3372,2024-01-12,80.0,147,BERGERSON JOALHERIA PORTO ALEGRE
7203,7280.0,3385,2024-01-24,80.0,147,BERGERSON JOALHERIA PORTO ALEGRE

In [4]:
import openpyxl
df_filtrado.to_excel("Tabela Bergerson.xlsx")

Separador (Criação dos DataFrames no Pandas)

In [1]:
import pandas as pd

def adicionar_servico(df_orc, df_horas, n_orc, servico):
    if df_orc.loc[n_orc, servico] != 0:
        df_horas.loc[len(df_horas),"Serviço"] = servico.capitalize()
        if df_orc.loc[n_orc,"time_format"] == "Minutos":
            df_horas.loc[len(df_horas)-1,"Horas Trabalhadas"] = format((df_orc.loc[n_orc,servico])/60, ".2f")
            df_horas.loc[len(df_horas)-1,"Valor"] = format(float(df_horas.loc[len(df_horas)-1,"Horas Trabalhadas"])*df_orc.loc[n_orc,"preco_hora"], ".2f")
        else:
            df_horas.loc[len(df_horas)-1,"Horas Trabalhadas"] = (df_orc.loc[n_orc,servico])
            df_horas.loc[len(df_horas)-1,"Valor"] = format((df_horas.loc[len(df_horas)-1,"Horas Trabalhadas"])*df_orc.loc[n_orc,"preco_hora"], ".2f")

with open(r"C:\Users\Gustavo Losch\Documents\Repositórios\Script-CIAF\config.txt", "r") as config:
    linhas = config.read().splitlines()
    n_orc = int(linhas[2])

#n_orc = 1

df_orc = pd.read_csv(r"C:\Users\Gustavo Losch\Documents\Repositórios\Script-CIAF\orcamentos.csv", encoding="ISO-8859-1")
df_orc = df_orc.fillna(0)

servicos = ["prototipagem", "desenho", "molde", "fundicao", "montagem", "acabamentos", "polimento", "limpeza", "cravacao"]

df_horas = pd.DataFrame(columns=["Serviço", "Horas Trabalhadas", "Valor"])

for servico in servicos:
    adicionar_servico(df_orc, df_horas, n_orc, servico)

total = df_horas["Valor"].astype(float).sum()
total_horas = df_horas["Horas Trabalhadas"].replace('', '0').astype(float).sum()
df_horas.loc[len(df_horas)] = ['Total', format(total_horas, ".2f"), format(total, ".2f")]

display(df_horas)

        Serviço Horas Trabalhadas  Valor
0  Prototipagem              0.50  15.00
1       Desenho              0.75  22.50
2         Molde              0.33   9.90
3      Fundicao              0.17   5.10
4      Montagem              0.25   7.50
5   Acabamentos              0.25   7.50
6     Polimento              0.25   7.50
7       Limpeza              0.17   5.10
8      Cravacao              0.33   9.90
9         Total              3.00  90.00

In [2]:
df_cli = pd.read_csv(r"C:\Users\Gustavo Losch\Documents\Repositórios\Script-CIAF\clientes.csv", encoding="ISO-8859-1")
df_cli = df_cli.fillna(0)

display(df_cli)

                      nome     telefone          cpf
0  Gustavo Losch do Amaral  51999477758  60099309017
1    Mariana Losch do Amar  51999347758  21093120398
2    Gustavo Losch s Amarl       asdasd     asdasdad
3             Elaine Losch  51996566144  41509323015
4            Cesar Augusto  51998087758  45993610034

In [3]:
cliente = df_orc.loc[n_orc,"nome_cli"]
telefone = df_cli.loc[df_cli.index[df_cli["nome"]==cliente].tolist(), "telefone"].values[0]
cpf = df_cli.loc[df_cli.index[df_cli["nome"]==cliente].tolist(), "cpf"].values[0]

df_informacoes_cliente = pd.DataFrame({"Nome": [cliente], "Telefone": [telefone], "CPF/CNPJ": [cpf]})

display(df_informacoes_cliente)

            Nome     Telefone     CPF/CNPJ
0  Cesar Augusto  51998087758  45993610034

In [4]:

def adicionar_material(df_orc, df_materiais, n_orc, material):
    if df_orc.loc[n_orc, material] != 0:
        df_materiais.loc[len(df_materiais),"Material"] = material.capitalize()

        if material in ["pedras", "rodio", "servicos_terceiros"]:
            df_materiais.loc[len(df_materiais)-1,"Valor"] = format(df_orc.loc[n_orc, material], ".2f")
        else:
            df_materiais.loc[len(df_materiais)-1,"Peso Utilizado"] = df_orc.loc[n_orc,material]
            df_materiais.loc[len(df_materiais)-1,"Valor"] = format(df_materiais.loc[len(df_materiais)-1,"Peso Utilizado"]*df_orc.loc[n_orc,"cotacao"], ".2f")

materiais = ["ouro1k", "ouro750", "ouro_branco", "prata", "pedras", "rodio", "servicos_terceiros"]

df_materiais = pd.DataFrame(columns=["Material", "Peso Utilizado", "Valor"])

for material in materiais:
    adicionar_material(df_orc, df_materiais, n_orc, material)

total = df_materiais["Valor"].astype(float).sum()
df_materiais["Peso Utilizado"] = df_materiais["Peso Utilizado"].fillna("")
df_materiais.loc[len(df_materiais)] = ["Total", "", format(total, ".2f")]

display(df_materiais)

             Material Peso Utilizado    Valor
0             Ouro750            6.0  2280.00
1              Pedras                   30.00
2               Rodio                   15.00
3  Servicos_terceiros                   45.00
4               Total                 2370.00

In [5]:
df_informacoes_data = pd.DataFrame({"Data de Emissão": [df_orc.loc[n_orc,"data_emissao"]], "Data de Validade": [df_orc.loc[n_orc,"data_validade"]], "Validade": ["7 dias úteis"]})
display(df_informacoes_data)

  Data de Emissão Data de Validade      Validade
0      29/05/2024       05/06/2024  7 dias úteis

In [6]:
valor_total = format(float(df_materiais.loc[len(df_materiais)-1, "Valor"]) + float(df_horas.loc[len(df_horas)-1, "Valor"]), ".2f")
df_valorfinal = pd.DataFrame({"Preços":["Subtotal", "Lucro:  "+"%", "Frete","Desconto", "Total"], "R$": [valor_total, "", "", "", valor_total]})

display(df_valorfinal)

      Preços       R$
0   Subtotal  2460.00
1  Lucro:  %
2      Frete
3   Desconto
4      Total  2460.00

In [7]:
df_descricao = pd.DataFrame({"Descrição do Projeto": [df_orc.loc[n_orc,"descricao"]]})
display(df_descricao)

                                Descrição do Projeto
0  CC Brinco em metal amarelo com pérola e tarrax...

In [8]:
from reportlab.lib.pagesizes import letter
from reportlab.platypus import SimpleDocTemplate, Table, Paragraph, Spacer, BaseDocTemplate, PageTemplate, Frame, TableStyle
from reportlab.lib.styles import getSampleStyleSheet, ParagraphStyle
from reportlab.lib import colors
from reportlab.lib.units import inch
from reportlab.graphics.shapes import Drawing, Line

# Criação do PDF com reportlab
styles = getSampleStyleSheet()

# Criação dos diferentes estilos utilizados nos documentos
title_style = ParagraphStyle(
    'Title',
    parent=styles['Title'],
    fontSize=20,
    textColor=colors.black,
    alignment=1,  # 1 = TA_CENTER
)

subtitle_style = ParagraphStyle(
    'Subtitle',
    parent=styles['Normal'],
    fontsize=10,
    textColor=colors.black,
    alignment=1,
)

footer_style = ParagraphStyle(
    'Footer',
    parent=styles['Normal'],
    fontSize=10,
    textColor=colors.grey,
    alignment=2,  # 2 = TA_RIGHT
)

nametable_style = TableStyle([
    ('ALIGN', (0, 0), (-1, -1), 'CENTER'),
    ('FONTNAME', (0, 0), (-1, 0), 'Helvetica-Bold')
])

table_style = TableStyle([
    ('ALIGN', (0, 0), (-1, -1), 'CENTER'),
    ('FONTNAME', (0, 0), (-1, 0), 'Helvetica-Bold'),
    ('BOX', (0, 0), (-1, -1), 1, colors.black),
    ('GRID', (0, 0), (-1, -1), 0.25, colors.grey)
])

table_style_final = TableStyle([
    ('ALIGN', (0, 0), (-1, -1), 'CENTER'),
    ('FONT', (-1, -1), (-1, -1), 'Helvetica-Bold', 12),
    ('FONTNAME', (0, 0), (-1, 0), 'Helvetica-Bold'),
    ('BOX', (0, 0), (-1, -1), 1, colors.black),
    ('GRID', (0, 0), (-1, -1), 0.25, colors.grey)
])

caminho = r"C:\Users\Gustavo Losch\Documents\Repositórios\Script-CIAF\test\Orçamento " + str(
    n_orc) + " - " + cliente + ".pdf"


def myFirstPage(canvas, doc):
    canvas.saveState()
    canvas.setFont('Helvetica', 8)
    canvas.drawString(inch, 0.75 * inch, "OR-"+str(n_orc))
    canvas.drawString(7*inch, 0.75 * inch, "RDA Design")
    canvas.drawString(6.79*inch, 0.9 * inch, "_________________")
    canvas.restoreState()


doc = BaseDocTemplate(caminho, pagesize=letter)
frame = Frame(inch, inch, 6.5 * inch, 9.7 * inch, id='normal')
template = PageTemplate(id='test', frames=frame, onPage=myFirstPage)
doc.addPageTemplates([template])

title_text = "ORÇAMENTO Nº" + str(n_orc)
title = Paragraph(title_text, title_style)

linha = Drawing(2000, 10)  # Largura e altura da linha
line = Line(-42, 0, 497, 0, strokeColor=colors.black, strokeWidth=1)  # Coordenadas, cor e espessura
linha.add(line)

data_clientes = [df_informacoes_cliente.columns.to_list()] + df_informacoes_cliente.values.tolist()
tabela_clientes = Table(data_clientes)
tabela_clientes.setStyle(nametable_style)
tabela_clientes._argW[0] = 2.5 * inch
tabela_clientes._argW[1] = 2.5 * inch
tabela_clientes._argW[2] = 2.5 * inch

data_datas = [df_informacoes_data.columns.to_list()] + df_informacoes_data.values.tolist()
tabela_datas = Table(data_datas)
tabela_datas.setStyle(nametable_style)
tabela_datas._argW[0] = 2.5 * inch
tabela_datas._argW[1] = 2.5 * inch
tabela_datas._argW[2] = 2.5 * inch

data_descricao = [df_descricao.columns.to_list()] + df_descricao.values.tolist()
tabela_descricao = Table(data_descricao)
tabela_descricao.setStyle(table_style)
tabela_descricao._argW[0] = 7.5 * inch

data_servicos = [df_horas.columns.to_list()] + df_horas.values.tolist()
tabela_servicos = Table(data_servicos)
tabela_servicos.setStyle(table_style)
tabela_servicos._argW[0] = 2.5 * inch
tabela_servicos._argW[1] = 2.5 * inch
tabela_servicos._argW[2] = 2.5 * inch

data_materiais = [df_materiais.columns.to_list()] + df_materiais.values.tolist()
tabela_materiais = Table(data_materiais)
tabela_materiais.setStyle(table_style)
tabela_materiais._argW[0] = 2.5 * inch
tabela_materiais._argW[1] = 2.5 * inch
tabela_materiais._argW[2] = 2.5 * inch

data_final = [df_valorfinal.columns.to_list()] + df_valorfinal.values.tolist()
tabela_valorfinal = Table(data_final)
tabela_valorfinal.setStyle(table_style_final)
tabela_valorfinal._argW[0] = 5 * inch
tabela_valorfinal._argW[1] = 2.5 * inch

elements = [title, Spacer(1, 10), tabela_descricao, Spacer(1, 5), linha, tabela_clientes, tabela_datas, linha, Spacer(1, 15),
            tabela_servicos, Spacer(1, 20), tabela_materiais, Spacer(1, 20), tabela_valorfinal]
doc.build(elements)